@import "tailwindcss";

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* font-families */
.Goldman {
  font-family: "Goldman", sans-serif;
}
.Inter {
  font-family: "Poppins", sans-serif;
}

/* input-field */
.input {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #d2d4d6;
  outline: none;
  transition: border 0.3s;
}

.input:focus {
  border: 1px solid #458c58;
}

/* buttons */
.green-button {
  padding: 8px 20px;
  color: white;
  border-radius: 5px;
  border: 1px solid #458c58;
  cursor: pointer;
  background-color: #458c58;
  transition: all 0.5s ease;
}



.disable-button {
  padding: 8px 20px;
  color: rgb(92, 93, 92);
  background-color: #eeeeee;
  border-radius: 20px;
  transition: all 0.5s ease;
  cursor: pointer;
}
.disable-button:hover {

  background-color: #cacbca;
}
