@import "tailwindcss";
body {
  background-color: rgb(245, 251, 241);
}

/* font-families */
.Goldman {
  font-family: "Goldman", sans-serif;
}
.Inter {
  font-family: "Poppins", sans-serif;
}

/* input-field */
.input {
  padding: 4px;
  border-radius: 5px;
  border: 1px solid #d2d4d6;
  outline: none;
  transition: border 0.3s;
}

.input:focus {
  border: 1px solid #458c58;
}

/* buttons */
.green-button {
  padding: 8px 20px;
  color: white;
  border-radius: 5px;
  border: 1px solid #458c58;
  background-color: #458c58;
  transition: all 0.5s ease;
}

.green-button:hover {
  color: #458c58;
  background-color: white;
}

.gray_button{
  padding: 8px 20px;
  color: white;
  border-radius: 5px;
  border: 1px solid #458c58;
  background-color: #458c58;
  transition: all 0.5s ease;
}
.gray_button:hover {
  color: #458c58;
  background-color: white;
}